.categories {
  list-style-type: none;
  transition: border $theme-transition, background-color $theme-transition;
  background-color: adjust-color(map-get($light-theme, "background-color"), $lightness: +10%);
  color: grey;
  font-size: 1rem;
  padding: 0.5rem;
  border: map-get($light-theme, "post-list-line-border");
  display: inline-block;
  margin: 1rem;
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  .category {
    display: inline-block;
    padding: 0.5rem;
  }
}

html.dark-theme {
  .categories {
    transition: border $theme-transition, background-color $theme-transition;
    background-color: adjust-color(map-get($dark-theme, "background-color"), $lightness: +10%);
    border: map-get($dark-theme, "post-list-line-border");
  }
}
