.categories {
  list-style-type: none;
  padding: 0.5rem;
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  .category {
    transition: padding $theme-transition, font-size $theme-transition;
    display: block;
    text-align: center;
    padding: 0.5rem;
    overflow: hidden;
    &.hidden {
      padding: 0;
      font-size: 0;
    }
  }
  .show {
    display: block;
    text-align: center;
    button {
      color: grey;
      font-size: 14px;
      padding: 0.5rem;
      border: none;
    }
  }
}
