html {
  transition: color $theme-transition, background-color $theme-transition;
  background-color: map-get($light-theme, "background-color");
  color: map-get($light-theme, "color");
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
  position: relative;
  scroll-behavior: smooth;
  * {
    transition: color $theme-transition;
    background: transparent;
    color: map-get($light-theme, "color");
  }
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a[name="posts"] {
  display: block;
}

.list-item {
  text-align: center;
  position: relative;
  &:before {
    transition: background-color $theme-transition;
    content: '';
    width: 1px;
    position: absolute;
    left: 50%;
    background-color: map-get($light-theme, "post-list-line-color");
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  > * {
    transition: border $theme-transition, background-color $theme-transition;
    background-color: adjust-color(map-get($light-theme, "background-color"), $lightness: +10%);
    color: grey;
    font-size: 1rem;
    min-width: 8rem;
    border: map-get($light-theme, "post-list-line-border");
    display: inline-block;
    margin: 1rem;
    overflow: hidden;
  }
}

.presentation {
  font-size: 1.5em;
  font-style: italic;
  max-width: 750px;
  padding: 1rem;
}

html.dark-theme {
  transition: color $theme-transition, background-color $theme-transition;
  background-color: map-get($dark-theme, "background-color");
  color: map-get($dark-theme, "color");
  * {
    transition: color $theme-transition;
    color: map-get($dark-theme, "color");
  }
  .list-item {
    &:before {
      transition: background-color $theme-transition;
      background-color: map-get($dark-theme, "post-list-line-color");
    }
  }
  > * {
    transition: border $theme-transition, background-color $theme-transition;
    background-color: adjust-color(map-get($dark-theme, "background-color"), $lightness: +10%);
    border: map-get($dark-theme, "post-list-line-border");
  }
}
