body.homepage {
  > header {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f3ad9f;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    > .title {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      &:before {
        content: '';
        background-color: #f3ad9f;
        opacity: 0.9;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
      &:after {
        content: '';
        background-image: url(../images/logo.png);
        background-size: contain;
        position: absolute;
        margin-left: -2em;
        bottom: -5em;
        width: 4em;
        height: 4em;
      }
      > * {
        position: relative;
      }
      > h1 {
        color: #fef9f9;
        font-size: 2rem;
        .darker {
          color: #110402;
        }
      }
      > h2 {
        color: #110402;
        font-size: 1.5rem;
        .lighter {
          color: #fef9f9;
        }
      }
    }
    > a.down {
      display: inline-block;
      background-image: url(../icons/down.svg);
      background-size: cover;
      width: 3rem;
      height: 3rem / 26 * 15;
      position: absolute;
      left: 50%;
      margin-left: -1.5rem;
      bottom: 2rem;
      color: #eeeeee;
    }
  }
}

body.post, body.category {
  > header {
    transition: border-bottom $theme-transition;
    position: relative;
    text-align: center;
    border-bottom: map-get($light-theme, "post-list-line-border");
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    @media screen and (max-width: 900px) {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }
    a.home {
      position: relative;
      margin: 0.5rem;
      background-image: url(../icons/light-theme/home.svg);
      background-size: cover;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem / 63 * 55;
    }
    h1 {
      transition: text-shadow $theme-transition;
      position: relative;
      font-weight: inherit;
      line-height: 1.2;
      font-size: 3.998em;
      text-align: center;
      text-shadow: 0 0 3px map-get($light-theme, "background-color"), 0 0 5px map-get($light-theme, "background-color"), 0 0 10px map-get($light-theme, "background-color");
      margin: auto;
      width: 900px;
      @media screen and (max-width: 900px) {
        width: 100%;
        line-height: 1.1;
        font-size: 2.998em;
      }
      small {
        display: inline-block;
        font-size: 0.505em;
        font-style: italic;
        text-shadow: 0 0 2px map-get($light-theme, "background-color"), 0 0 5px map-get($light-theme, "background-color"), 0 0 7px map-get($light-theme, "background-color");
      }
    }
  }
}

body.post {
  div.background {
    filter: blur(1rem);
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 900px) {
      filter: blur(0.75rem);
    }
  }
}

body.category {
  header:before {
    content: '';
    background-image: url(../images/hero.jpg);
    background-color: #f3ad9f;
    filter: blur(1rem);
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 900px) {
      filter: blur(0.75rem);
    }
  }
}

html.dark-theme {
  body.post, body.category {
    > header {
      transition: border-bottom $theme-transition;
      border-bottom: map-get($dark-theme, "post-list-line-border");
      a.home {
        transition: background-image $theme-transition;
        background-image: url(../icons/dark-theme/home.svg);
      }
      h1 {
        transition: text-shadow $theme-transition;
        text-shadow: 0 0 3px map-get($dark-theme, "background-color"), 0 0 5px map-get($dark-theme, "background-color"), 0 0 10px map-get($dark-theme, "background-color");
        small {
          transition: text-shadow $theme-transition;
          text-shadow: 0 0 2px map-get($dark-theme, "background-color"), 0 0 5px map-get($dark-theme, "background-color"), 0 0 7px map-get($dark-theme, "background-color");
        }
      }
    }
  }
}

body {
  > header {
    .theme-switcher {
      display: none;
    }
  }
  &.homepage {
    > header {
      .theme-switcher {
        bottom: -2rem;
      }
    }
  }
  &.post, &.category {
    > header {
      .theme-switcher {
        top: 0.5rem;
      }
    }
  }
}

html.light-theme, html.dark-theme {
  body {
    > header {
      .theme-switcher {
        position: absolute;
        right: 1rem;
        z-index: 1;
        display: block;
        width: 3rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        &:before {
          content: '';
          position: absolute;
          top: 0.1rem;
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 1.3rem;
        }
        > input {
          display: none;
        }
      }
    }
  }
}

html.light-theme {
  body {
    > header {
      .theme-switcher {
        transition: border $theme-transition, background-color $theme-transition;
        border: 1px solid map-get($light-theme, "switcher-color");
        background-color: adjust-color(map-get($light-theme, "background-color"), $lightness: -2%);
        &:before {
          transition: background-color $theme-transition, left $theme-transition;
          background-color: map-get($light-theme, "switcher-color");
          background-image: url(../icons/light-theme/light.svg);
          background-position: center;
          background-size: contain;
          left: 1.6rem;
        }
      }
    }
  }
}

html.dark-theme {
  body {
    > header {
      .theme-switcher {
        transition: border $theme-transition, background-color $theme-transition;
        border: 1px solid map-get($dark-theme, "switcher-color");
        background-color: adjust-color(map-get($dark-theme, "background-color"), $lightness: +10%);
        &:before {
          transition: background-color $theme-transition, left $theme-transition;
          background-color: map-get($dark-theme, "switcher-color");
          background-image: url(../icons/dark-theme/dark.svg);
          background-position: center;
          background-size: contain;
          left: 0.1rem;
        }
      }
    }
  }
}
