a[name="posts"] {
  display: block;
}
.posts {
  $background-color: adjust-color(map-get($light-theme, "background-color"), $lightness: -1%);
  $date-color: adjust-color(map-get($light-theme, "color"), $lightness: +15%);
  list-style-type: none;
  margin: 0;
  padding: 0 0 1rem 0;
  overflow: hidden;
  position: relative;
  &:before {
    transition: background-color $theme-transition;
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    left: 50%;
    background-color: map-get($light-theme, "post-list-line-color");
    top: -1rem;
    bottom: -1rem;
    z-index: 0;
  }
  .post {
    padding: 0;
    margin: 100px auto 0;
    width: 1200px;
    position: relative;
    &:nth-child(odd) {
      text-align: left;
    }
    &:nth-child(even) {
      text-align: right;
    }
    &:nth-child(odd) .details {
      left: 660px;
      @media screen and (max-width: 1200px) {
        left: 450px;
      }
    }
    &:nth-child(even) .details {
      right: 660px;
      @media screen and (max-width: 1200px) {
        right: 450px;
      }
    }
    @media screen and (max-width: 1200px) {
      width: 900px;
    }
    @media screen and (max-width: 900px) {
      transition: border-bottom $theme-transition, background-color $theme-transition;
      background-color: $background-color;
      width: 100%;
      margin-top: 60px;
      padding-bottom: 30px;
      border-bottom: map-get($light-theme, "post-list-line-border");
    }
    > .cover {
      display: inline-block;
      width: 680px;
      height: 440px;
      overflow: hidden;
      position: relative;
      z-index: 3;
      @media screen and (max-width: 1200px) {
        width: 480px;
        height: 310px;
      }
      @media screen and (max-width: 900px) {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
      }
      > img {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 900px) {
          margin: 0 auto;
        }
      }
    }
    > .details {
      transition: border $theme-transition, background-color $theme-transition;
      background-color: $background-color;
      position: absolute;
      text-align: left;
      top: 20px;
      height: 398px;
      width: 498px;
      border: map-get($light-theme, "post-list-line-border");
      @media screen and (max-width: 1200px) {
        top: 10px;
        width: 420px;
        height: 290px;
      }
      @media screen and (max-width: 900px) {
        height: auto;
        position: static;
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        border: none;
      }
      p:first-child {
        transition: color $theme-transition;
        color: adjust-color(map-get($light-theme, "color"), $lightness: +15%);
        font-size: 12px;
        margin: 80px 0 0 80px;
        @media screen and (max-width: 1200px) {
          font-size: 12px;
          margin: 50px 0 0 60px;
        }
        @media screen and (max-width: 900px) {
          margin: 30px 0 0 20px;
        }
      }
      h3 {
        font-size: 30px;
        line-height: 1.1;
        margin: 10px 100px 0 80px;
        @media screen and (max-width: 1200px) {
          font-size: 24px;
          margin: 10px 60px 0 60px;
        }
        @media screen and (max-width: 900px) {
          font-size: 24px;
          margin: 10px 30px 0 20px;
        }
        a {
          transition: color $theme-transition;
          color: map-get($light-theme, "color");
        }
        small {
          display: inline-block;
          font-size: 0.707em;
          font-style: italic;
          font-weight: normal;
          margin-top: 0.5em;
        }
        + p {
          transition: color $theme-transition;
          color: adjust-color(map-get($light-theme, "color"), $lightness: +10%);
          margin: 10px 100px 0 80px;
          font-size: 14px;
          line-height: 1.8;
          @media screen and (max-width: 1200px) {
            margin: 10px 60px 0 60px;
          }
          @media screen and (max-width: 900px) {
            margin: 10px 30px 0 20px;
          }
        }
      }
    }
  }
  > .more {
    list-style-type: none;
    padding: 0;
    margin: 1rem auto 1rem;
    display: block;
    text-align: center;
    position: relative;
    > button {
      transition: border $theme-transition, background-color $theme-transition;
      background-color: adjust-color(map-get($light-theme, "background-color"), $lightness: -1%);
      color: grey;
      font-size: 14px;
      padding: 0.5rem;
      border: map-get($light-theme, "post-list-line-border");
      display: inline-block;
      margin: 1rem;
    }
  }
}
html.dark-theme {
  .posts {
    $background-color : adjust-color(map-get($dark-theme, "background-color"), $lightness: +10%);
    &:before {
      transition: background-color $theme-transition;
      background-color: map-get($dark-theme, "post-list-line-color");
    }
    .post {
      @media screen and (max-width: 900px) {
        transition: border-bottom $theme-transition, background-color $theme-transition;
        background-color: $background-color;
        border-bottom: map-get($dark-theme, "post-list-line-border");
      }
      > .details {
        transition: border $theme-transition, background-color $theme-transition;
        background-color: $background-color;
        border: map-get($dark-theme, "post-list-line-border");
        @media screen and (max-width: 900px) {
          background-color: transparent;
          border: none;
        }
        p:first-child {
          transition: color $theme-transition;
          color: adjust-color(map-get($dark-theme, "color"), $lightness: -30%);
        }
        h3 {
          a {
            transition: color $theme-transition;
            color: map-get($dark-theme, "color");
          }
          + p {
            transition: color $theme-transition;
            color: adjust-color(map-get($dark-theme, "color"), $lightness: -20%);
          }
        }
      }
    }
    > .more {
      > button {
        transition: border $theme-transition, background-color $theme-transition;
        background-color: $background-color;
        border: map-get($dark-theme, "post-list-line-border");
      }
    }
  }
}
