$light-theme: (
  "background-color": #fff,
  "color": #0a0a0a,
  "post-list-line-color": #eaeaea,
  "post-list-line-border": 1px solid #eaeaea,
  "link-color": #2980b9,
  "link-color-hover": #3498db,
  "switcher-color": #dadada,
);

$dark-theme: (
  "background-color": #000,
  "color": #fafafa,
  "post-list-line-color": #4a4a4a,
  "post-list-line-border": 1px solid #4a4a4a,
  "link-color": #3498db,
  "link-color-hover": #2980b9,
  "switcher-color": #5a5a5a,
);

$theme-transition: 0.5s ease;

@import '../../src/scss/fonts';
@import '../../src/scss/generics';
@import '../../src/scss/content';
@import '../../src/scss/header';
@import '../../src/scss/footer';
@import '../../src/scss/category_list';
@import '../../src/scss/post_list';
