<body class="homepage">
  <header>
    <div class="title">
      <h1><span class="darker">ALESSIA</span> SORBO</h1>
      <h2>Writing <span class="lighter">About</span> Things</h2>
    </div>
    <a class="down" href="#posts" rel="nofollow"></a>
    <%- partial('partial/theme_switcher') %>
  </header>
  <a name="posts"></a>
  <%- partial('partial/category_list') %>
  <%- partial('partial/post_list') %>
  <%- partial('partial/list_footer') %>
</body>
