<% const current_category = site.categories.filter(
          (category) => category.name === page.category
        ).first(),
        categories = site.categories.filter((category) => {
          if (current_category) {
            return current_category._id === category.parent;
          } else {
            return !category.parent;
          }
        }).sort((a, b) => a.name > b.name ? 1 : (a.name < b.name ? -1: 0));
   if (categories.length) {
     -%>
  <div class="list-item">
    <ul class="categories">
      <% categories.forEach(function (category) { -%>
        <li class="category">
          <a href="<%- url_for(category.link || category.path) -%>">
            <%- category.name -%>
          </a>
        </li>
      <% }); -%>
    </ul>
  </div>
  <script>
    (function () {
      var ul = document.querySelector("ul.categories"),
          item,
          show_container,
          show;
      while (item = ul.querySelector(".category:not(.hidden)")) {
        item.className = "category hidden";
      }
      show_container = document.createElement('li');
      show_container.className = "show";
      show = document.createElement('a');
      show.innerHTML = "Categories";
      show.addEventListener('click', function () {
        while (item = ul.querySelector(".category.hidden")) {
          item.className = "category";
        }
        show_container.remove();
      });
      show_container.appendChild(show);
      ul.insertBefore(show_container, ul.childNodes[0]);
    })();
  </script>
<% } -%>
