<footer>
  <%- partial('social', {}, {cached: true}) -%>
  <br>
  <div class="copyright">
    © <%= date(Date.now(), 'YYYY') %> Alessia Sorbo.
    Powered by <a href="http://hexo.io/" title="Hexo" target="_blank" rel="noopener">Hexo</a>
    <br>
    <br>
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
</footer>
